form {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  font-size: 96px;
}

input {
  font-size: 96px;
  border: none;
  border-bottom: 1px solid black;
  width: 20%;
  text-align: center;
}

input:focus {
  outline: none;
}

.stats {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
}

.close {
  background-color: rgba(60, 235, 60, 0.3);
}
